body{
	background: #bbcccc;
	color: #333333;
	font-family: sans-serif;
}

body a{
	color: #333333;
}

body a:hover{
	color: #999999;
}

header{
	text-align: center;
}

header nav ul{
	padding: 0.1em;
}

header nav ul li{
	padding: 0.5em;
	display: inline-block;
	background: #aa7755;
}

header nav ul li a{
	padding: 0.5em;
	text-decoration: none;
	color: #333333;
}

header nav ul li a:hover{
	color: #333333;
}

header nav ul .active{
	background: #333333;
}

header nav ul .active a{
	color: #ffffff;
}

header nav ul .active a:hover{
	color: #ffffff;
}

.container{
	width: 990px;
	margin: 0 auto;
}

.container img{
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

.container video{
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

#c{
	width: 450px;
	height: 450px;
}

.r{
	display: table;
	table-layout: fixed;
	border-spacing: 0;
}

.c-10{
	max-width: 99px;
	padding: 0.5em;
	display: table-cell;
	vertical-align: top;
}

.c-20{
	max-width: 198px;
	padding: 0.5em;
	display: table-cell;
	vertical-align: top;
}

.c-30{
	max-width: 297px;
	padding: 0.5em;
	display: table-cell;
	vertical-align: top;
}

.c-40{
	max-width: 396px;
	padding: 0.5em;
	display: table-cell;
	vertical-align: top;
}

.c-50{
	max-width: 495px;
	padding: 0.5em;
	display: table-cell;
	vertical-align: top;
}

.c-60{
	max-width: 594px;
	padding: 0.5em;
	display: table-cell;
	vertical-align: top;
}

.c-70{
	max-width: 693px;
	padding: 0.5em;
	display: table-cell;
	vertical-align: top;
}

.c-80{
	max-width: 792px;
	padding: 0.5em;
	display: table-cell;
	vertical-align: top;
}

.c-90{
	max-width: 891px;
	padding: 0.5em;
	display: table-cell;
	vertical-align: top;
}

.c-100{
	max-width: 990px;
	padding: 0.5em;
	display: table-cell;
	vertical-align: top;
}

table, th ,td{
	border: 1px solid #000;
}